numpy==1.19.0
opencv-python==4.4.0.42
pandas==1.1.1
pytorch-lightning==1.0.5
tensorboard==2.2.0
tensorboard-plugin-wit==1.7.0
torch==1.6.0
torch-model-archiver==0.1.0b20200409
torchserve==0.0.1b20200409
torchvision==0.7.0
tqdm==4.48.0
